<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.serviceprovider.mapper.MemberMapper">
    <!--根据手机号查询会员-->
    <select id="findByTelephone" parameterType="string" resultType="com.java.common.pojo.Member">
        select * from t_member where phoneNumber = #{telephone}
    </select>
    <!--新增会员-->
    <insert id="add" parameterType="com.java.common.pojo.Member" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into t_member(fileNumber, name, sex, idCard, phoneNumber,regTime, password, email, birthday, remark)
        values (#{fileNumber}, #{name}, #{sex}, #{idCard}, #{phoneNumber},#{regTime}, #{password}, #{email}, #{birthday}, #{remark})
    </insert>
    <select id="selectByMonth" resultType="long">
        select count(id) from t_member where DATE_FORMAT(regTime,'%Y-%m')=#{value}
    </select>
    <select id="selectMemberCountByDate" resultType="integer">
        select count(id) from t_member where regTime=#{value}
    </select>
    <select id="selectTotalCount" resultType="integer">
        select count(id) from t_member
    </select>
    <select id="selectCountAfterDate" resultType="integer">
        select count(id) from t_member where regTime &gt;= #{value}
    </select>
</mapper>